Juego del Ahorcado
<form method='post' action='/Principal' >
	<label>Introduzca la palabra secreta:</label>
	<input type='text' name='secreta' />
	<br />
	<label>Introduzca la pista:</label>
	<input type='text' name='pista' />
	<input type='submit' value='Iniciar' />
</form>
