<html>
	<head>
		<style type='text/css'>
			
			td{
				border-bottom: 2px solid #000000;
				width: 50px;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<form method='post'>
			<h1>Juego Iniciado</h1>
			<br />
			<br />
			<table>
				<tbody>
					<tr>
						<td>1</td>
						<td>2</td> 
						<td>3</td>
						<td>4</td> 
					</tr>
				</tbody>
			</table>
			<br />
			<br />
			<label>Ingrese la letra</label>
			<input type='text' name='letra'/>		
			<input type='submit' value='Adivinar'>	
		</form>
	</body>
</html>
